name: Validation

on:
  push:
    branches: main
    paths-ignore:
      - 'README.md'
      - '.github/ISSUE_TEMPLATE/*'
  pull_request_target:
    paths-ignore:
      - 'README.md'
      - '.github/ISSUE_TEMPLATE/*'

jobs:
  test:
    name: Build & Validation & Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout Project Code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm ci
      - name: Validate
        run: npm run validate
      - name: Test
        run: npm test

